<h1>About Dog Breed Explorer</h1>

<p>
Dog Breed Explorer is a Ruby on Rails application that displays dog breed
information collected from the Dog CEO API.
</p>

<p>
Features include:
</p>

<ul>
  <li>Browse dog breeds</li>
  <li>Search breeds</li>
  <li>View breed reviews</li>
  <li>Pagination</li>
</ul>

<p>
API Source:
https://dog.ceo/api/breeds/list/all
</p>